{% extends 'base.html' %}

{% block title %}
Home - Makaan
{% endblock %}

{% block content %}
{% load static %}
<body>
    
        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
                    <p class="animated fadeIn mb-4 pb-2">Explore a range of properties with ease. Manage your listings, track tenants, and stay on top of all rental activities, all in one place with our comprehensive website Aashiyana.</p>
                    <a href="{% url 'signup' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our Clients Say</h1>
                    <p>Working with this landlord dashboard has transformed my property management. The user-friendly interface makes tracking tenants and managing listings a breeze. Highly recommended</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>I never knew managing multiple properties could be this easy.. The dashboard offers everything I need in one place, saving me time and stress. Thank you for such a fantastic tool</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;" alt="">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Astha Tripathi</h6>
                                    <small>Landlord</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>The customer support is outstanding! Whenever I have questions, the team is quick to respond and helpful. This platform has exceeded my expectations</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;" alt="">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Shalini Yadav</h6>
                                    <small>Tenants</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>This Website is a game-changer! The features are intuitive, and I've been able to manage my properties more effectively. This platform has exceeded my expectations</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 45px; height: 45px;" alt="">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Annu Tripathi</h6>
                                    <small>Agent</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
                  
        {% endblock %}
      

       
</body>

</html>